@charset "utf-8";

header {
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

main {
    margin: 0 auto;
    text-align: center;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 15%;
}

form {
    padding-top: 40px;
}

#searchfrm {
    margin-left: 10%;
    padding-top: 0px;
    text-align: left;
}

p {
    margin: 15px auto 0 auto;
}

button.login {
    width: 120px;
    position: relative;
    top: 25px;
}

button.back {
    width: 120px;
    text-align: center;
    margin-left: 80%;
    top: 25px;
}

button.new {
    width: 120px;
    text-align: center;
    position: inherit;
    color: white;
    background-color: red;
    border-color: red;
}

button.edit {
    width: 80px;
    text-align: center;
    position: inherit;
}

button.delete {
    width: 80px;
    text-align: center;
    position: inherit;
}

button.menberins {
    width: 120px;
    margin: 15px auto 0 auto;
}

#errormsg {
    font-weight: bold;
    color: red;
}

/**
    暫定対応
*/
.dataTables_wrapper {
    width: 100%;
}

div#menberlist_filter.dataTables_filter {
    float: left;
}

h3 {
    text-align: center;
}

/** タイトル */
div.jconfirm-title-c {
    text-align: center;
    color: red;
    font-weight: bold;
}
